#wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows:auto auto auto auto auto;
  width: 100%;
  border: solid black;
}
header{
  background-color: blue;
  grid-area: 1/1/2/3;
}

nav {
  display: inline
  grid-area: 2/1/3/2;
  padding: 0px;
  margin: 0px;
  padding-right: 20px;
}

nav ul li {
  margin-bottom: 10px;
  text-transform: uppercase;
  border-right: 2px solid black;
}

#user_info {
  background-color: grey;
  color: red;
  grid-area: 1/3/3/4;

}
#content{
  grid-area: 4/1/5/4;
  border: 5px solid red;
}
