<h1>All Transactions:</h1>

<% @transactions.each do |transaction| %>
  <p>Transaction: £<%= transaction.amount() %> <%= transaction.merchant.name %> </p>
  <p> <%= transaction.tag.tag_type%></p>
  <p><a href="/transactions/<%= transaction.id %>/edit">Edit Transaction</a></p>
  <hr />
<% end %>
