<form method="post" action="/transactions/new/">
  <label for="merchant-name">Merchant:</label>
  <input type="text" name="merchant" id="merchant-field"/>

  <label for="amount-field">Amount:</label>
  <input type="text" name="amount" id="amount-field"/>

  <label for="tag-field">Tag:</label>
  <input type="text" name="tag_type" id="tag-field"/>

  <input type='submit' value="Add Transaction">
</form>
