<form method="post" action="/transactions/new/">
  <label for="merchant-name">Merchant:</label>
  <select name="merchant_id" id="merchant-select">
    <% @merchants.each do |merchant| %>
        <option value=<%= merchant.id %>><%= merchant.name.capitalize %></option>
    <% end %>
  </select>
  <label for="amount-field">Amount:</label>
  <input type="text" name="amount" id="amount-field"/>
  <label for="tag-field">Tag:</label>
  <select name="tag_id" id="tag_select">
    <% @tags.each do |tag| %>
        <option value=<%= tag.id %>><%= tag.tag_type.capitalize %></option>
    <% end %>
  </select>
  <input type='submit' value="Add Transaction">
</form>
