<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Lil' Bits</title>
  </head>
  <body>
    <nav>
      <ul>
        <li>New</li>
        <li>Delete</li>
      </ul>
    </nav>
    <section id = "content">
      <%= yield %>
    </section>

  </body>
</html>
