<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Lil' Bits</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Transactions</a></li>
        <li><a href = "/transactions/new/">Add Transaction</a></li>
        <li><a href= "/merchants/">Merchants</a></li>
        <li><a href="/merchants/new">Add Merchant</a></li>
        <li><a href="/tags/">Tags<a/></li>
        <li><a href="/tags/new/">Add Tag<a/></li>
      </ul>
    </nav>
    <section id = "content">
      <p>Budget: <%=sprintf("%.2f",@@user.budget) %></p>
      <%= yield %>
    </section>

  </body>
</html>
