<form method="post" action="/merchants/<%=@merchant.id%>">
  <label for="merchant-name">Merchant Name:</label>
  <input type="text" name="name" id="merchant-name-field" value="<%= @merchant.name%>"/>
  <input type='submit' value="Edit Merchant">
</form>
