<h1>All Merchants:</h1>

<% @merchants.each do |merchant| %>
  <p><%= merchant.name().capitalize %> </p>
  <form method="get" action="/merchants/<%=merchant.id%>/edit">
    <input type="submit" value="Edit Merchant">
  </form>
  <hr />
<% end %>
