<form method="post" action="/merchants/new">
  <label for="merchant-name">Merchant Name:</label>
  <input type="text" name="name" id="merchant-name-field"/>
  <input type="submit" value="Add Merchant">
</form>
