<h1>All Tags:</h1>

<% @tags.each do |tag| %>
  <p><%= tag.tag_type().capitalize %>
    <form method="get" action="/tags/<%= tag.id %>/edit">
      <input type="submit" value="Edit Tag"/>
    </form>
    <form method="post" action="/tags/<%=tag.id%>/delete">
      <input type="submit" value="Delete Tag">
    </form>
  </p>
  <hr />
<% end %>
